p {
   color: black; 
}
h4 {
   background-color:
}
.column {
  float: left;
  height: 4000px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:right {
  content: "";
  display: table;
  clear: both;
}


