p {
   color: blue; 
}
h4 {
   font-family: monotype corsiva regular
   font-style: italic;
}
html {
   height: 25%;
   background-color: orange;
}
body {
   height: 75%;
   background-color: white;
}
